.aboutMe{
    .downIcon{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
&:hover{
    .downIcon{
        transform: translateY(5px);
        transition: all .5s;
    }
}
}



#scroll_container {
 
  overflow: hidden;
}

#scroll_text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my_animation 20s linear infinite;
  -webkit-animation: my_animation 20s linear infinite;
  animation: my_animation 20s linear infinite;
  font-family: "Londrina Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* for Firefox */
@-moz-keyframes my_animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(50%); }
}

/* for Chrome */
@-webkit-keyframes my_animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my_animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


// Thirty
#scroll_container2 { 
  overflow: hidden;
}

#scroll_text2 {
    
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my_animation2 20s linear infinite;
  -webkit-animation: my_animation2 20s linear infinite;
  animation: my_animation2 20s linear infinite;
}

/* for Firefox */
@-moz-keyframes my_animation2 {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my_animation2 {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my_animation2 {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
 